@use '../utils/mixins';
@use '../utils/vars';

.address {
  padding-top: vars.$space-2xl;

  @include mixins.tablet() {
      padding-top: vars.$padding-address-top-tablet;
    }


  @include mixins.for-desktop() {
  padding-top: 0;
  }


  &__label {

    @include mixins.heading(vars.$font-size-xs, 0.15px);

    margin-bottom: vars.$space-sm;

    color: vars.$c-text-muted;

  }

  &__content {
    @include mixins.body-text(vars.$font-size-sm, 0.15px);

    margin-bottom: vars.$space-lg;
  }



}
