@use '../utils/mixins';
@use '../utils/vars';

.buttons {
    @include mixins.tablet() {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: vars.$space-lg;

      justify-content: center;
    }

     @include mixins.for-desktop() {
      gap: vars.$space-lg;
    }

    &-- {
      margin-top: vars.$space-md;

    }
 }

.buttons__button {
  min-height: vars.$button-height;
  background-color: vars.$c-accent;
  border-radius: vars.$border-radius-md;
  text-decoration: none;
  color: vars.$c-text-light;
  width: 100%;

  border: none;
  cursor: pointer;


  @include mixins.heading(vars.$font-size-sm, 0);

  transition: background-color vars.$transition-speed ease;

  @include mixins.tablet() {
    grid-column: 1 / 7;
  }

  @include mixins.for-desktop() {
    grid-column: 1 / 5;
  }

  &:hover {
    background-color: vars.$c-accent-hover;
  }

  &:active {
    background-color: vars.$c-accent-hover;
  }

}


.buttons__button--2 {
  @include mixins.for-desktop() {
    grid-column: 1 / -1;
  }
}
