@use '../utils/mixins';
@use '../utils/vars';

.category {

  &__item {
    display: grid;
    gap: vars.$space-md;
    padding-bottom: vars.$space-md;
    grid-template-columns: repeat(2, 1fr);


    @include mixins.tablet {
      grid-template-columns: repeat(6, 1fr);
      gap: vars.$space-lg;
    }

     @include mixins.for-desktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: vars.$border-radius-sm;
    transition: transform vars.$transition-speed ease;;

    &:hover {
      transform: scale(1.05);
    }

    @include mixins.tablet {
      aspect-ratio: auto;
    }
  }

  &__photo--1 {
    @include mixins.tablet {
      grid-column: 1 / 4;
    }


    @include mixins.for-desktop {
      grid-column: 1 / 7;
    }


  }

  &__photo--2 {
    @include mixins.tablet {
      grid-column: 4 / 7;
    }


    @include mixins.for-desktop {
      grid-column: 7 / 13;
    }


  }

  &__name {
    @include mixins.heading(vars.$font-size-md, 0);

    margin-bottom: vars.$space-2xl;

    @include mixins.tablet {
      font-size: vars.$font-size-mlg;
      margin-bottom: vars.$margin-bottom-tablet;
    }
  }
}


