@use '../utils/mixins';
@use '../utils/vars';

.contact {
  @include mixins.for-desktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: vars.$space-lg;
  }

  &__form {
    @include mixins.for-desktop {
      grid-column: 1 / 7;
    }
  }

  &__address {
    @include mixins.for-desktop {
      grid-column: 8 / -1;
    }
  }
}
