@use '../utils/mixins';
@use '../utils/vars';

.links {
  padding-top: vars.$padding-link;

  @include mixins.tablet() {
    padding-top: vars.$padding-link;
  }

  &__item {
    padding-bottom: vars.$padding-link-1;
  }

  &__link {
    font-family: 'Manrope', sans-serif;
    font-weight: vars.$font-weight-bold;
    font-size: vars.$font-link;

    line-height: vars.$line-height-link;
    letter-spacing: 0px;
    vertical-align: middle;

    color: vars.$c-link;
    text-decoration: none;
    border-bottom: vars.$border-xsm solid transparent;

    display: inline-block;
    padding-bottom: vars.$padding-link;

    transition: border-color vars.$transition-speed ease;

    &:hover {
      border-bottom: vars.$border-xsm solid vars.$c-link;
    }
  }
}

