@use '../utils/mixins';
@use '../utils/vars';

.links {
  padding-top: vars.$space-sm;

  @include mixins.tablet() {
    padding-top: vars.$space-sm;
  }

  &__item {
    padding-bottom: vars.$space-xl;
  }

  &__link {
    @include mixins.heading(vars.$font-size-lg, 0);

    vertical-align: middle;

    color: vars.$c-text-primary;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    display: inline-block;
    padding-bottom: vars.$space-sm;

    transition: border-color vars.$transition-speed ease;

    &:hover {
      border-bottom: 1px solid vars.$c-text-primary;
    }
  }
}

