@use '../utils/mixins';
@use '../utils/vars';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform vars.$transition-speed ease-in-out;
  background-color: vars.$c-input-form-gray;
  padding: 0 vars.$padding-smm vars.$padding-smm;
  height: 100vh;

  @include mixins.tablet() {
    padding: 0 vars.$padding-md;
  }

  &:target {
    transform: translateX(0);
  }

  &__paragraph {
    font-family: 'Manrope', sans-serif;
    font-weight: vars.$font-weight-bold;
    font-size: vars.$font-md;

    line-height: vars.$line-height-base;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    color: vars.$c-link;

    padding-top: vars.$padding-menu;
    padding-bottom: vars.$padding-sm;
  }

  &__call-link {
    font-family: 'Manrope', sans-serif;
    font-weight: vars.$font-weight-bold;
    font-size: vars.$font-md;
    line-height: vars.$line-height-base;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;

    color: vars.$c-link;
    text-decoration: none;

    border-bottom: vars.$border-xsm solid vars.$c-link;
    padding-bottom: vars.$padding-menu;

  }
}
