@use '../utils/mixins';
@use '../utils/vars';


.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: vars.$header-height;
  width: 100%;

  &__logos {
    display: flex;
    gap: vars.$space-lg;
    height: vars.$icon-size-sm;
    box-sizing: border-box;

    @include mixins.tablet {
      gap: vars.$space-xl;
      height: vars.$icon-size-md;
    }
  }
}
