@use '../utils/mixins';
@use '../utils/vars';

.picture {
  margin-left: -(vars.$padding-mobile-side);
  margin-right: -(vars.$padding-mobile-side);
  height: vars.$picture-height-mobile;

  @include mixins.tablet() {
    margin-left: -(vars.$padding-tablet-side);
    margin-right: -(vars.$padding-tablet-side);
    height: vars.$picture-height-tablet;
  }

  @include mixins.for-desktop() {
    margin-left: -(vars.$padding-desktop-side);
    margin-right: -(vars.$padding-desktop-side);
    height: vars.$picture-height-desktop;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
