@use '../utils/mixins';
@use '../utils/vars';

.title {

  @include mixins.heading(vars.$font-size-xxl, 0);
  vertical-align: middle;
  margin-bottom: 0;

  color: vars.$c-text-light;

  &--section {
    font-size: vars.$font-size-xl;
    color: vars.$c-text-primary;

    @include mixins.tablet() {
      font-size: vars.$font-size-tablet;
    }

    @include mixins.for-desktop() {
      font-size: vars.$font-size-display;
    }

  }
}
