@use '../utils/mixins';
@use '../utils/vars';

.about-us {
  padding: 48px 20px;

  @include mixins.tablet() {
      display: grid;
      padding: vars.$padding-lg vars.$padding-md;
      grid-template-columns: repeat(6, 1fr);
      gap: vars.$gap-sm;
      height: vars.$height-lg;
      box-sizing: border-box;
    }


  @include mixins.for-desktop() {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: vars.$gap-sm;
      padding: vars.$padding-lg;
    }


  &__title {
    font-family: Manrope, sans-serif;
    font-weight: vars.$font-weight-bold;
    font-size: vars.$font-lg;
    line-height: vars.$line-height;

    @include mixins.tablet() {
      grid-column: 1 / 4;
    }

    @include mixins.for-desktop() {
      grid-column: 1 / 7;
    }
  }

  &__paragraph {
    font-family: Manrope, sans-serif;
    font-weight: vars.$font-weight-normal;
    font-size: vars.$font-md;
    line-height: 1.4;
    letter-spacing: 0.15px;
    padding-top: vars.$padding-msm;


    @include mixins.tablet() {
      padding-top: 0;
      grid-column: 4 / 7;
    }

    @include mixins.for-desktop() {
      padding-top: 0;
      grid-column: 7 / -1;
    }


  }
}
