@use '../utils/mixins';
@use '../utils/vars';

.address {
  padding-top: vars.$padding-mmd;

  @include mixins.tablet() {
      padding-top: vars.$padding-lmd;
    }


  @include mixins.for-desktop() {
  padding-top: 0;
  }


  &__label {
    font-family: Manrope, sans-serif;
    font-weight: vars.$font-weight-bold;
    font-size: vars.$font-sm;
    line-height: vars.$line-height-base;
    letter-spacing: 0.15px;
    margin-bottom: vars.$margin-sm;

    color: vars.$c-address-label;

  }

  &__content {
    font-family: Manrope, sans-serif;
    font-weight: vars.$font-weight-normal;
    font-size: vars.$font-md;
    line-height: vars.$line-height-base;
    letter-spacing: 0.15px;
    margin-bottom: vars.$margin-md;
    color: vars.$c-address-content;
  }
}
