@use '../utils/mixins';

.address {
  padding-top: 48px;

  @include mixins.tablet() {
      padding-top: 80px;
    }

  &__label {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin-bottom: 8px;

    color: #9393A3;

  }

  &__content {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin-bottom: 24px;
    color: #191919;
  }
}
