@use '../utils/mixins';
@use '../utils/vars';

.burger {

  &__label {
    @include mixins.visually-hidden();
  }

  &::before {
    content: '';
    background-image: url('./images/photos/mobile/burger-mobile.png');
    background-size: cover;
    display: inline-block;
    width: vars.$width-sm;
    height: vars.$height-sm;
    transition: background-image vars.$transition-speed ease;


    @include mixins.tablet () {
      width: vars.$width-md;
      height: vars.$height-md;
    }
  }

  &:hover {
    @include mixins.for-desktop() {
      &::before {
      background-image: url('./images/photos/mobile/hover/burger-hover.png');
      }
    }

  }
}
