@use '../utils/mixins';
@use '../utils/vars';

.buttons {
    align-items: center;

    @include mixins.tablet() {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: vars.$gap-sm;

      justify-content: center;
    }

     @include mixins.for-desktop() {
      gap: vars.$gap-sm;
    }

    &--2 {
      margin-top: vars.$margin-button;

    }

    &__button {
       min-height: vars.$button-height;
      background-color: vars.$c-orange;
      border-radius: vars.$radius-sm;
      text-decoration: none;
      color: vars.$c-white;
      width: 100%;

      border: none;
      cursor: pointer;

      font-family: Manrope, sans-serif;
      font-weight: vars.$font-weight-bold;
      font-size: vars.$font-md;
      line-height: vars.$button-height;
      letter-spacing: 0px;
      text-align: center;

      transition: background-color vars.$transition-speed ease;

      @include mixins.tablet() {
        grid-column: 1 / 7;
      }

      @include mixins.for-desktop() {
        grid-column: 1 / 5;
      }

      &:hover {
        background-color: vars.$c-button-hover;
      }

      &:active {
        background-color: vars.$c-button-active;
      }

      &--2 {
        @include mixins.for-desktop() {
          grid-column: 1 / -1;
        }
      }
    }

  }
