@use '../utils/mixins';
@use '../utils/vars';

.button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;


    @include mixins.tablet() {
      grid-template-columns: repeat(6, 1fr);
      gap: vars.$gap-sm;
      width: 100%;
      justify-content: center;
    }

     @include mixins.for-desktop() {
      grid-template-columns: repeat(12, 1fr);
      gap: vars.$gap-sm;
    }

    &-1 {
      min-height: vars.$button-height;
      background-color: vars.$c-orange;
      border-radius: vars.$radius-sm;
      text-decoration: none;
      color: vars.$c-white;

      border: none;
      cursor: pointer;

      font-family: Manrope, sans-serif;
      font-weight: vars.$font-weight-bold;
      font-size: vars.$font-md;
      line-height: vars.$button-height;
      letter-spacing: 0px;
      text-align: center;

      transition: background-color vars.$transition-speed ease;

      @include mixins.tablet() {
        grid-column: 1 / 7;
      }

      @include mixins.for-desktop() {
        grid-column: 1 / 5;
      }

      &:hover {
        background-color: vars.$c-button-hover;
      }

      &:active {
        background-color: vars.$c-button-active;
      }

    }
  }
