@use '../utils/mixins';
@use '../utils/vars';

.category {

  &__item {
    display: grid;
    gap: vars.$gap-xs;


    padding-bottom: vars.$padding-sm;
    grid-template-columns: repeat(2, 1fr);

    @include mixins.tablet() {
      grid-template-columns: repeat(6, 1fr);
      gap: vars.$gap-sm;
    }

     @include mixins.for-desktop() {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: vars.$border-radius-sm;

    @include mixins.tablet() {
      aspect-ratio: auto;
    }
  }

  &__photo--1 {

    @include mixins.tablet() {

      grid-column: 1 / 4;
    }


    @include mixins.for-desktop() {
      grid-column: 1 / 7;
    }


  }

  &__photo--2 {

    @include mixins.tablet() {
      grid-column: 4 / 7;
    }


    @include mixins.for-desktop() {
      grid-column: 7 / 13;
    }


  }

  &__name {
    font-family: Manrope, sans-serif;
    font-weight: vars.$font-weight-bold;
    font-size: vars.$font-mlg;
    line-height: vars.$line-height-base;
    letter-spacing: 0px;
    margin-bottom: vars.$margin-lg;


    @include mixins.tablet() {
      margin-bottom: vars.$margin-blg;
    }
  }
}


