@use '../utils/mixins';
@use '../utils/vars';

.header {
  height: 100vh;
  padding: 0 vars.$padding-smm vars.$padding-smmd;

  box-sizing: border-box;

  background-image: url('./images/photos/main-photo/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  @include mixins.tablet() {
      padding: 0 vars.$padding-md vars.$padding-mdl;
    }

  @include mixins.for-desktop() {
    padding: 0 vars.$padding-lg vars.$padding-mdl;
  }


  &__link {
    height: vars.$height-xs;
    width: vars.$width-lg;
  }


  &__title {
    margin-bottom: 0;

    @include mixins.tablet() {
      font-size: vars.$font-xlg;
    }
  }
}
