@use '../utils/mixins';

.header {

  height: 100vh;
  padding: 0 20px 40px;
  box-sizing: border-box;

  background-image: url('./images/photos/main-photo/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  @include mixins.tablet() {
      padding: 0 120px 64px;
    }


  &__link {
    height: 16px;
    width: 150px;
  }


  &__navigation {


  }

  &__title {


    @include mixins.tablet() {
      font-size: 48px;
      margin-bottom: 0;
    }

    @include mixins.for-desktop() {

    }
  }

  }






