@use '../utils/mixins';
@use '../utils/vars';

.picture {
  margin-left: -(vars.$margin-picture-mobile);
  margin-right: -(vars.$margin-picture-mobile);
  height: vars.$height-picture-mobile;

  @include mixins.tablet() {
    margin-left: -(vars.$margin-picture-tablet);
    margin-right: -(vars.$margin-picture-tablet);
    height: vars.$height-picture-tablet;
  }

  @include mixins.for-desktop() {
    margin-left: -(vars.$margin-picture-desktop);
    margin-right: -(vars.$margin-picture-desktop);
    height: vars.$height-picture-desktop;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
