@use '../utils/mixins';
@use '../utils/vars';

.product {
  font-family: 'Manrope', sans-serif;
  font-weight: vars.$font-weight-normal;
  font-size: vars.$font-md;
  line-height: vars.$line-height-base;
  letter-spacing: 0.15px;
  color: vars.$c-link;

  &__photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: vars.$c-bg-light;
    margin-bottom: vars.$margin-md;
    display: block;
  }

  &__name {
    font-family: 'Manrope', sans-serif;
    font-weight: vars.$font-weight-bold;
    font-size: vars.$font-mlg;
    line-height: vars.$line-height-base;
    letter-spacing: 0;
    margin-bottom: vars.$margin-sm;
    color: vars.$c-link;
  }

  &__desc {
    font-family: 'Manrope', sans-serif;
    font-weight: vars.$font-weight-normal;
    font-size: vars.$font-md;
    line-height: vars.$line-height-base;
    letter-spacing: 0.15px;
    margin-bottom: vars.$margin-xs;

    @include mixins.tablet() {
      margin-bottom: vars.$margin-product-desc-tab;
    }

    @include mixins.for-desktop() {
      margin-bottom: vars.$margin-xs;
    }
  }

  &__price {
    font-family: 'Manrope', sans-serif;
    font-weight: vars.$font-weight-bold;
    font-size: vars.$font-md;
    line-height: vars.$line-height-base;
    letter-spacing: 0;
  }

  &:not(:last-child) {
    margin-bottom: vars.$margin-lg;

    @include mixins.tablet() {
      margin-bottom: vars.$margin-blg;
    }

    @include mixins.for-desktop() {
      margin-bottom: 0;
    }
  }
}
