@use '../utils/mixins';

.section {
  padding-top: 96px;

  @include mixins.tablet() {
      padding-top: 120px;
    }

  &__first {
    padding-top: 64px;

    @include mixins.tablet() {
      padding-top: 120px;
    }
  }

  &__main {
    margin: 0 -20px;
    background-color: #FCFAEF;

    @include mixins.tablet() {
      margin: 0 -72px;
    }

    @include mixins.for-desktop() {
      margin: 0 -120px;
    }
  }

  &--third {
    padding-top: 64px;


    @include mixins.tablet() {
      padding-top: 120px;
    }
  }
}
