@use '../utils/mixins';
@use '../utils/vars'; 

.section {
  padding-top: vars.$padding-main-2;

  @include mixins.tablet() {
    padding-top: vars.$padding-lg;
  }

  &__first {
    padding-top: vars.$padding-mdl;

    @include mixins.tablet() {
      padding-top: vars.$padding-lg;
    }
  }

  &__main {
    margin-left: -(vars.$margin-picture-mobile);
    margin-right: -(vars.$margin-picture-mobile);
    background-color: vars.$c-bg-light;

    @include mixins.tablet() {
      margin-left: -(vars.$margin-picture-tablet);
      margin-right: -(vars.$margin-picture-tablet);
    }

    @include mixins.for-desktop() {
      margin-left: -(vars.$margin-picture-desktop);
      margin-right: -(vars.$margin-picture-desktop);
    }
  }

  &--third {
    padding-top: vars.$padding-mdl;

    @include mixins.tablet() {
      padding-top: vars.$padding-lg;
    }
  }
}
