@use '../utils/mixins';
@use '../utils/vars'; // <--- DODANE

.title {
  font-family: 'Manrope', sans-serif;
  font-weight: vars.$font-weight-bold;
  font-size: vars.$font-xl;
  line-height: 1;
  letter-spacing: 0;
  vertical-align: middle;
  margin-bottom: 0;

  color: vars.$c-white;


  &--secondary,
  &--third,
  &--fourth {
    font-family: 'Manrope', sans-serif;
    font-weight: vars.$font-weight-bold;
    font-size: vars.$font-lg;
    line-height: vars.$font-lg;
    letter-spacing: 0;
    color: vars.$c-link;
  }
}
