@use '../utils/mixins';

.title {
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-bottom: 48px;

  color: #FFFFFF;

  &--secondary {
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;

    color: #1B2129;

  }


  &--third {
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;


    color: #1B2129;

  }

  &--fourth {
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;

    color: #1B2129;

  }
}
