@use '../utils/vars';

@mixin hover($_property, $_toValue) {
  transition: #{$_property} vars.$transition-speed;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin tablet() {
  @media (min-width: vars.$tablet-resolution) {
    @content;
  }
}
@mixin for-desktop() {
  @media (min-width: vars.$desktop-resolution) {
    @content;
  }
}


@mixin grid() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: vars.$gap-xs;

  @include tablet() {
    grid-template-columns: repeat(6, 1fr);
    gap: vars.$gap-sm;
  }

  @include for-desktop() {
    grid-template-columns: repeat(12, 1fr);
    gap: vars.$gap-xs;
  }
}


  @mixin visually-hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    box-sizing: border-box;
  }


@mixin input-states() {
  background-color: vars.$c-input-form-gray;
  border-radius: vars.$radius-sm;
  border: vars.$border-xsm solid transparent;
  width: 100%;
  height: vars.$height-input;
  line-height: vars.$height-input;
  padding-left: vars.$padding-xsm;
  box-sizing: border-box;

  &::placeholder{
      font-family: 'Manrope';
      font-weight: vars.$font-weight-normal;
      font-size: vars.$font-sm;
      line-height: vars.$line-height-base;
      letter-spacing: 0.15px;
    }

  &:hover {
    @include for-desktop() {
      border: vars.$border-xsm solid vars.$c-hover-border-gray;
    }
  }

  &:focus {
    outline: none;
    border-color: vars.$c-orange;
    box-shadow: 0 0 0 vars.$border-xsm vars.$c-orange;

  }
}
