// contact_form_colors
$c-gray: #eee;
$c-orange: #f98921;
$c-white: #FFFFFF;
$c-hover-border-gray: #DBDBDB;
$c-input-form-gray: #F9F9F9;
$c-button-hover: #010810;
$c-button-active: #010810;
$c-address-label: #9393A3;
$c-address-content: #191919;


// form
$form-gap: 16px;
$form-padding-bottom: 32px;
$radius-sm: 8px;

// height
$input-height: 48px;
$textarea-height: 148px;
$height-sm: 24px;

$line-height: 32px;
$line-height-base: 1.4;

$height-md: 32px;
$height-lg: 416px;

// width
$width-sm: 24px;
$width-md: 32px;



// button
$button-height: 56px;


// gap
$gap-xs: 1px;
$gap-sm: 24px;
$gap-md: 32px;

// border
$border-xsm: 1px;
$border-sm: 2px;


// margins
$margin-sm: 8px;
$margin-md: 24px;

// paddings
$padding-sm: 14px;
$padding-msm: 24px;
$padding-mmd: 48px;
$padding-md: 72px;
$padding-lmd: 80px;
$padding-lg: 120px;

// font size
$font-sm: 14px;
$font-md: 16px;
$font-lg: 32px;


// font weights
$font-weight-normal: 400;
$font-weight-bold: 700;


// transition
$transition-speed: 0.3s;
